<app-show-details [showDetails]="tvShowDetails">
    <ng-template #seasonsTemplate>
        <br>
        <hr style="border-top: thin solid black;">
        <h2>Seasons</h2>
        <br>
        <div class="row">
            <app-season
                *ngFor="let season of tvShowDetails.seasons" 
                style="position: relative;padding-bottom: 10px;"
                [seasonItem]="season"
                class="col-sm-4"
            ></app-season>
        </div>
        <br>
    </ng-template>
</app-show-details>
