<button class="btn go-back" [routerLink]="['../../']">Go Back</button>
<hr style="margin-left: 35px;margin-right: 35px;">

<div class="column" style="position: relative;">
    <div class="row">
        <div class="backdrop" [style.background-image]="'url(' + tvShowDetails.backdropPath + ')'">
        </div>
        <div class="col-sm-4 poster" [style.background-image]="'url(' + tvShowDetails.posterPath + ')'">
        </div>
        <div class="container details" style="margin-top: 50px;position: relative;">
            <h3>{{ tvShowDetails.title }}</h3>
            <div id="tag">
                <a *ngFor="let genre of tvShowDetails.genres" class="btn tag">{{ genre.name }}</a>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <mat-icon fxFlex="30%"  class="icon-fav" svgIcon="favorite"> </mat-icon>
                    <h6 style="margin-top: 4px;">{{ tvShowDetails.voteAverage }}</h6>
                </div>
                <div class="col-sm-3">
                    <mat-icon fxFlex="30%" class="date-icon" svgIcon="calendar"> </mat-icon>
                    <h6 style="margin-top: 4px;">{{ tvShowDetails.releaseDate }}</h6>
                </div>
                <div class="col-sm-3">
                    <mat-icon fxFlex="30%"  class="icon-earth" svgIcon="earth"> </mat-icon>
                    <h6 style="margin-top: 4px;">{{ tvShowDetails.originCountry | uppercase}}</h6>
                </div>
            </div>
            <div style="margin-right: 50px;">
                <hr style="border-top: thin solid black;">
                <p>{{ tvShowDetails.overview }}</p>
            </div>
        </div>
    </div>
    <div style="margin-left: 50px;margin-right: 90px;margin-bottom: 30px;">
        <hr style="border-top: thin solid black;">
        <h2>Production Companies</h2>
        <br>
        <div class="row">
            <app-production-company 
                *ngFor="let prodCompany of tvShowDetails.productionCompanies" 
                style="position: relative;"
                [prodCompanyItem]="prodCompany"
                class="col-sm-4"
            ></app-production-company>
        </div>
        <br>
        <hr style="border-top: thin solid black;">
        <h2>Seasons</h2>
        <br>
        <div class="row">
            <app-season
                *ngFor="let season of tvShowDetails.seasons" 
                style="position: relative;padding-bottom: 10px;"
                [seasonItem]="season"
                class="col-sm-4"
            ></app-season>
        </div>
        <br>
    </div>
</div>
