<div id="tag">
    <button class="tag" [routerLink]="['action-adventure']">Action & Adventure</button>
    <button class="tag" [routerLink]="['comedy']">Comedy</button>
    <button class="tag" [routerLink]="['drama']">Drama</button>
</div>
<hr>
<div style="margin-left: 35px;">
    <h3>Top Rated Action & Adventure TV Shows</h3>
</div>
<app-top-rated-show [showTopRatedList]="tvShowsData.actionAndAdventureTvShows"></app-top-rated-show>
<hr>
<div style="margin-left: 35px;">
    <h3>Top Rated Comedy TV Shows</h3>
</div>
<app-top-rated-show [showTopRatedList]="tvShowsData.comedyTvShows"></app-top-rated-show>
<hr>
<div style="margin-left: 35px;">
    <h3>Top Rated Drama TV Shows</h3>
</div>
<app-top-rated-show [showTopRatedList]="tvShowsData.dramaTvShows"></app-top-rated-show>
